.buyOrSellPopup {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;

  .title {
    margin-top: 6px;
    color: var(--TextColorBlack);
    text-align: center;
  }
  .logoImg {
    margin: 6px;
    img {
      width: 146px;
      height: 88px;
    }
  }
  .table {
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--border);
    margin-top: 6px;
    padding: 0 1rem 0.5rem;
    box-sizing: border-box;
    .tableDefaultItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      .keyColor {
        color: var(--TextColorBlack);
      }
      .key {
        color: var(--TextColorBlack);
      }
      .privacyKey {
        background-color: var(--sconedBorder);
        padding: 3px 6px;
        border-radius: 12px;
        span {
          color: var(--border);
        }
      }
      .value {
        background: none;
      }
    }
    .tableItem {
      height: 40px;
      border-bottom: 1px solid var(--border);
    }
  }
  .text {
    color: var(--tabTextColorActive);
    width: 90%;
    margin: 7px auto;
    text-align: center;
  }
  .button {
    width: 90%;
    background-color: var(--tabTextColorActive);
    font-size: 1rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .input {
    border-radius: 12px;
  }

  .inputAddress {
    border: 1px solid var(--border);
    height: 2.5rem;
    width: 90%;
    border-radius: 12px;
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    .privacyKey {
      background-color: var(--sconedBorder);
      padding: 3px 6px;
      border-radius: 12px;
      span {
        color: var(--border);
      }
    }
  }
}
