@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pageBackground: rgba(249, 249, 249, 1);

    --border: rgba(228, 228, 228, 0.5);
    --sconedBorder: rgba(247, 247, 247, 1);
    --thiredBorder: rgba(241, 241, 241, 1);
    --colorGray: rgba(153, 153, 153, 1);
    --textColor: rgba(8, 210, 188, 1);

    --TextColorBlack: rgba(51, 51, 51, 1);
    --buttonYellowBackground: rgba(250, 209, 47, 1);

    --tabColorActive: rgba(250, 209, 47, 0.2);
    --tabTextColorActive: rgba(250, 209, 47, 1);

    --w3m-z-index: 2000 !important;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #0f0f13;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.Flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
}

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

/* 手机 */
@media (max-width: 430px) {
}

/* pc */
@media (min-width: 431px) {
  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* 隐藏滚动条轨道 */
  ::-webkit-scrollbar-track {
    display: none;
  }

  /* 隐藏滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  .layout {
    display: flex;
    margin: 0 auto;
  }
  .pcWidth {
    width: 50%;
    margin: 0 auto;
  }
  .maxWidth {
    width: 1200px;
  }
}
